
.banner{
    background-image: linear-gradient(180deg,hsla(0,0%,100%,.2),rgba(22,189,206,.2) 51%,rgba(98,218,96,.2));
    padding:65px 50px;
    display: flex;
}

.banner .left-side{
  width: 40%;
}
.banner .right-side{
  width: 60%;
}
.banner div h2{
  margin-bottom:30px;
  font-size:55px;
  line-height: 1.3;
}
.banner div ul{
  margin-left:20px;
  
}
.banner div p{
  margin-bottom:30px;
  font-size:30px;
  color:#555;
  line-height: 1.3;
}
.banner div ul li{
  margin-bottom:10px;
  font-size:25px;
  color:#555;
  line-height: 1.3;
}
.bannerimg{
  width:90% ;
  height:90% ;
  margin-left:50px;
}

.info{
  background:#f7f7f7;
  padding:35px 50px;
  display: flex;
  height:700px;
}
.info h2{
  margin-bottom:30px;
  font-size:55px;
  line-height: 1.3;
  font-weight: 800;
}
.info p{
  margin-bottom:30px;
  font-size:22px;
  color:#555;
  text-align: justify;
  line-height: 1.6;
}
.info p span{
  display: inline-block;
  margin-bottom:10px;
  font-size:40px;
  color:#000;
  font-weight: 800;
  text-align: justify;
  line-height: 1.6;
}
.info .left-side{
  width: 45%;
  padding-left:30px;
}
.info .right-side{
  width: 55%;
}
.info .infoimg{
  width:100%;
  height:90% ;
}


.patient{
  background-color: #fff;
  padding:90px 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  }
  .patient .left-side{
    width:45%;
  }
  .patient .right-side{
    width:55%;
  }
  .patient h2{
    text-align: left !important;
    font-size: 48px !important;
    font-weight: 800 !important;
    text-transform: none !important;
  }
  .patient p{
    font-size:22px;
    line-height: 1.5;
  }
  .patient img{
    margin-left:30px;
  }

.accordion h1 {
    text-align: center;
    font-size: 2rem;
    margin-bottom:2rem;
    color:#333;
  }
  .accordion
   {
      font-family: "Montserrat", sans-serif;
    color: #fff;
  padding:2rem 15rem;
    margin:0;
    margin-top:20px;
    width: 100%;
    background-color: #f1f1f1;
  }
  .accordion-item {
    background-color: #fff;
    color: #111;
    padding:5px;
    margin: 1.2rem 0;
    border-radius: 0.5rem;
    border:1px solid #ddd;
  }
  .accordion-item:hover{
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.25);
  }
  .accordion-item-header {
    padding: 0.5rem 3rem 0.5rem 1rem;
    min-height: 3.5rem;
    line-height: 1.25rem;
    font-size: 1rem;
    font-weight: 600;
    display: flex;
    align-items: center;
    position: relative;
    cursor: pointer;
  }
  .accordion-item-header::after {
    content: "\002B";
    font-size: 2rem;
    position: absolute;
    right: 1rem;
  }
  .accordion-item-header.active::after {
    content: "\2212";
  }
  .accordion-item-body {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
  }
  .accordion-item-body-content {
    padding: 1rem;
    line-height: 2rem;
    text-align: justify;
    font-size: 1rem;
    font-weight: 500;
    border-top: 1px solid;
    border-image: linear-gradient(to right, transparent, #34495e, transparent) 1;
  }
  

  .partners{
    padding-top:50px;
    background:linear-gradient(135deg,rgb(238,238,238) 0%,rgb(169,184,195) 100%);
    height:380px;
  }
  .partners h2{
    text-align: center;
    text-transform: uppercase;
    font-size: 1.9rem;
  }
  .logos{
    margin:30px 50px;
    margin-top:50px;
    overflow: hidden;
    padding:20px 0;
    background-color: #fff;
    white-space: nowrap;
    position: relative;
    border:1px solid #ddd;
    border-radius: 8px;

  }
  .logos::before,
  .logos::after{
    position: absolute;
    top:0;
    width:250px;
    height:100%;
    content:"";
    z-index:2;
  }
  .logos::before{
      left:0;
    background:linear-gradient(to left,rgba(255,255,255,0),#fff);
  }
  .logos::after{
      right:0;
    background:linear-gradient(to right,rgba(255,255,255,0),#fff);
  }
  
  .logos:hover .logos-slide{
    animation-play-state: paused;
  }
  .logos-slide{
    display: inline-block;
    animation: 30s slide infinite linear;
  }
  @keyframes slide{
    from{
        transform: translateX(0);
    }
    to{
        transform: translateX(-100%);
    }
  }
  .logos-slide img{
      margin:0 40px;
    height:100px;
  
  }


  .review-section{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top:40px;
    margin-bottom:40px;
    padding-top:40px;
    background-color: #fff;
}
.inner-review{
    display: flex;
    padding:20px;
}
.review {
    width:450px;
    height:250px;
    background:linear-gradient(135deg,rgb(238,238,238) 0%,rgb(169,184,195) 100%);
    margin:10px 30px;
    /* border:2px solid transparent; */
    padding:30px 20px;
    border-radius: 7px;
}
.review:hover{
    cursor:pointer;
    /* border:2px solid #bbb; */
}
.review img{
    width:50px;
    height:50px;
    border-radius: 50%;
    margin-right:20px;
}
.review .top-section{
    display: flex;
    margin-bottom:20px;
}
.review .detail{
    margin-top:-15px;
}
.review .detail h2{
    margin-bottom:4px;
}
.review .stars{
    margin-bottom:10px;
}
.review .stars i{
    font-size:18px;
    margin-right:2px;
    color: #003333;
}
.review p{
    text-align: justify;
}
.review-section h1{
    font-size:40px;
    color:#003333;
    margin-bottom: 15px;
    font-weight:700;
}
.review-section .text{
    font-size:20px;
    margin-bottom:20px;
}

.counter-div{
    display: flex;
    justify-content: center;
    align-items: center;
    height:500px;
}
.innercounter{
    width:350px;
    height:200px;
    background-color: #003333;
    color:#fff;
    margin:40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 6px;
}
.innercounter h1,.innercounter .counter{
    font-size:40px;
}
.innercounter .counter{
margin-left:40px;
}
.innercounter h1 span{
    font-size:20px;
    text-transform: uppercase;
}