
.banner{
    background-image: linear-gradient(180deg,hsla(0,0%,100%,.2),rgba(22,189,206,.2) 51%,rgba(98,218,96,.2));
    padding:20px 60px;
    display: flex;
justify-content: center;
align-items: center;
    padding-bottom:90px;
    min-height:90vh;
    overflow-x: hidden;
}
.explore{
  color:#fff;
}
.btn:hover .explore{
  color:#008080;
}
.banner .left-side{
  width: 50%;
}
.banner .right-side{
  width: 50%;
}
.banner div h2{
  margin-bottom:60px;
  font-size:3rem;
  line-height: 1.3;
}
.banner .bannerp{
  width:650px;
}
.banner div ul{
  margin-left:20px;
}
.banner div p{
  margin-bottom:60px;
  font-size:26px;
  color:#333;
  line-height: 1.5;
  text-align: justify;
}
.banner div ul li{
  margin-bottom:10px;
  font-size:23px;
  color:#333;
  line-height: 1.5;
}
.bannerimg{
  width:90% ;
  height:80% ;
  margin-left:10px;
  margin-top:80px;
}

.info{
  background:#fff;
  padding:100px 50px ;
  display: flex;
  height:730px;
}
.info h2{
  margin-bottom:40px;
  font-size:40px;
  line-height: 1.3;
  font-weight: 800;
  text-transform: uppercase;
  color:#008080;
}
.info p{
  margin-bottom:20px;
  font-size:22px;
  color:#555;
  text-align: justify;
  line-height: 1.6;
}
.info p span{
  display: inline-block;
  margin-top:10px;
  font-size:40px;
  color:#008080;
  font-weight: 800;
  text-align: justify;
  line-height: 1.6;
}
.info .left-side{
  width: 45%;
  padding-left:30px;
}
.info .right-side{
  width: 55%;
}
.info .infoimg{
  width:100%;
  height:100% ;
}


.patient{
  background-color: #fff;
  /* height:500px; */
  overflow-x: hidden;

  display: flex;
  justify-content: center;
  align-items: center;
  padding:60px 0;
  margin-bottom: 100px;
  }
  .symptom{
    background-color: #e8f2f9;
  display: flex;
  justify-content: center;
  padding:60px 50px;
  margin-top:40px;

  }
  .patient .left-side{
    width:45%;
    display: flex;
    justify-content: center;
  }
  .symptom .left-side{
    width:55%;
  }
  .symptom .left-side h2{
    font-weight: bold;
    font-size: 35px;
    margin:30px 0;
    color: #008080;
    text-align: center;
    text-transform: uppercase;
  }
  .symptom .left-side p{
    font-size:22px;
    text-align: justify;
    margin-bottom:20px;
  }
  .symptom .left-side .last{
    font-weight: bold;
    font-size: 22px;
  }

  .patient .right-side {
    width:50%;
  }
  
  
  .symptom .right-side{
width: 60%;
margin-left: 60px;
  }
  .symptom .right-side .checkinfo{
padding:50px 40px;
width:800px;
display: flex;
margin-top:40px;
background-color: #fff;
  }
  .symptom .right-side .checkinfo h2{
font-size:30px;
color: #008080;
text-align: center;
text-transform: uppercase;
margin-bottom: 20px;
  }
  .symptom .right-side .checkinfo img{
margin-top:80px;
margin-left:30px;
  }
  .symptom .right-side .checkinfo h4{
font-size:20px;
font-weight: 600;
margin-bottom:30px;
  }
  .symptom .right-side input{
height:20px;
width: 20px;
margin-right:10px;
margin-bottom:20px;
  }
  .symptom .right-side label{
font-size: 20px;
  }
  .symptom .right-side .checkbtn{
font-size: 20px;
padding:20px 40px;
background-color: #008080;
color:#fff;
display: inline-block;
border-radius: 5px;
border:1px solid transparent;
  }
  .symptom .right-side .checkbtn:hover{
   color: #008080;
   background-color:#fff;
   border:1px solid #008080;
  }
  .symptom .right-side .choosediv{
    display: flex;
  }
  .symptom .left-side img{
    height:350px;
    width:80%;
    margin-left: 60px;
  }
  .patient{
margin-top:-40px;
  }
  .patient h2{
    text-align: left !important;
    font-size: 40px !important;
    margin-bottom:40px !important;
    font-weight: 800 !important;
    text-transform: uppercase !important;
    color:#008080;

  }
  .patient p{
    font-size:22px;
    line-height: 1.8;
  }
  

  .accordion h1 {
    text-align: center;
    font-size: 2.7rem;
    margin-bottom: 3rem;
    color: #008080;
  }
  
  .accordion {
    font-family: "Montserrat", sans-serif;
    color: #fff;
    margin: 0;
    padding:60px 120px;
    padding-top:20px;
  }
  
  .accordion-item {
    background-color: #fff;
    color: #111;
    padding: 5px;
    margin: 1.7rem 0;
    border-radius: 0.5rem;
    border: 1px solid #ddd;
  }
  
  .accordion-item:hover {
    box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.25);
  }
  
  .accordion-item-header {
    padding: 0.5rem 3rem 0.5rem 1rem;
    min-height: 3.5rem;
    line-height: 1.25rem;
    font-size: 1rem;
    font-weight: 600;
    display: flex;
    align-items: center;
    position: relative;
    cursor: pointer;
  }
  
  .accordion-item-header::after {
    content: "\002B";
    border: 1px solid #222;
    padding: 6px 8px;
    border-radius: 5px;
    font-size: 2rem;
    position: absolute;
    right: 1rem;
  }
  
  .accordion-item-header.active::after {
    content: "\2212";
  }
  
  .accordion-item-body {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
  }
  
  .accordion-item-body-content {
    padding: 1rem;
    line-height: 2rem;
    text-align: justify;
    font-size: 1rem;
    font-weight: 500;
    border-top: 1px solid;
    border-image: linear-gradient(to right, transparent, #34495e, transparent) 1;
  }
  
  /* Media Query for smaller screens */

  @media screen and (max-width: 1068px) {
    .accordion {
      padding:  40px 80px;
    }
    
    .accordion-item-header {
      padding: 0.5rem 2rem 0.5rem 0.5rem; /* Adjust padding for smaller screens */
      min-height: 3rem;
      font-size: .9rem;
    }
  
    .accordion-item-body-content {
      font-size: 0.6rem; /* Adjust font size for smaller screens */
    }
  }



  @media screen and (max-width: 820px) {
    .accordion {
      padding: 40px 30px; /* Adjust padding for smaller screens */
    }
    
    .accordion-item-header {
      padding: 0.5rem 2rem 0.5rem 0.5rem; /* Adjust padding for smaller screens */
      min-height: 3rem;
    }
  
    .accordion-item-body-content {
      font-size: 0.9rem; /* Adjust font size for smaller screens */
    }
  }
  
  @media screen and (max-width: 720px) {
    .accordion {
      padding: 40px 10px; /* Adjust padding for smaller screens */
    }
    
    .accordion-item-header {
      padding: 0.5rem 2rem 0.5rem 0.5rem; /* Adjust padding for smaller screens */
      padding-left:0;
      min-height: 3rem;
    }
  
    .accordion-item-body-content {
      font-size: 0.9rem; /* Adjust font size for smaller screens */
    }
    .accordion-item-header::after {
      right: .1rem;
    }
  }

  .partners{
    padding-top:50px;
    background:#fff;
    height:500px;
  }
  .partners h2{
    text-align: center;
    text-transform: uppercase;
    font-size: 2.3rem;
margin-bottom:70px;
color: #008080;
  }
  .logos{
    margin:30px 50px;
    margin-top:50px;
    overflow: hidden;
    padding:20px 0;
    padding-top:40px;
    background-color: #fff;
    white-space: nowrap;
    position: relative;
    border:1px solid #ddd;
    border-radius: 8px;
height:200px;
  }
  .logos::before,
  .logos::after{
    position: absolute;
    top:0;
    width:250px;
    height:100%;
    content:"";
    z-index:2;
  }
  .logos::before{
      left:0;
    background:linear-gradient(to left,rgba(255,255,255,0),#fff);
  }
  .logos::after{
      right:0;
    background:linear-gradient(to right,rgba(255,255,255,0),#fff);
  }
  
  .logos:hover .logos-slide{
    animation-play-state: paused;
  }
  .logos-slide{
    display: inline-block;
    animation: 30s slide infinite linear;
  }
  @keyframes slide{
    from{
        transform: translateX(0);
    }
    to{
        transform: translateX(-100%);
    }
  }
  .logos-slide img{
      margin:0 40px;
    height:100px;
  }


  .review-section{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-bottom:40px;
    padding:40px 0;
    background-color: #e8f2f9;
}
.inner-review{
    display: flex;
    padding:20px;
    flex-wrap: wrap;

}
.review {
    width:450px;
    height:270px;
    /* background:linear-gradient(135deg,rgb(238,238,238) 0%,rgb(169,184,195) 100%); */
    background: #fff;
    margin:10px 30px;
    padding:30px 20px;
    padding-top:20px;
    border-radius: 7px;
    border:1px solid transparent;
}
.review:hover{
    cursor:pointer;
    border:1px solid #ddd;
}
.review img{
    width:70px;
    height:70px;
    border-radius: 50%;
    margin-right:20px;
    margin-top:-5px;
}
.review .top-section{
    display: flex;
    margin-bottom:20px;
}
.review .detail{
    margin-top:-15px;
}
.review .detail h2{
  margin-bottom:4px;
  color:#008080;
}
.review .detail p{
  color:#000;
margin-left:10px;
font-weight: 600;
letter-spacing: 1px;
}
.review .stars{
    margin:15px 0;
}
.review .stars i{
    font-size:18px;
    margin-right:2px;
    color: #008080;
}
.review p{
    text-align: justify;
    font-size: 18px;
    line-height: 1.3;
}
.review-section h1{
    font-size:40px;
    color:#008080;
    margin-bottom: 15px;
    font-weight:700;
    text-transform: uppercase;
  }
  .review-section .text{
    font-size:20px;
    margin-bottom:20px;
}
.stats{
  display: flex;
  justify-content: center;
  align-items: center;
  padding:30px 40px;
  padding-top: 0;
  gap:45px;
}
.stats .first,
   .stats .second,
   .stats .third
   
   {
  width:450px;
  height:700px;
  border-radius: 8px;
  background-color: #e8f2f9;
  border:1px solid transparent;
}
.stats .first:hover,
   .stats .second:hover,
   .stats .third:hover{
  border:1px solid #ccc;
  cursor: pointer;
}
.stats div p span{
margin:0 20px ;
}
.stats div h2{
margin:30px 0;
margin-bottom: 40px;
text-align: center;
text-transform: uppercase;
color:#008080;
font-size: 28px;
}
.stats div p{
margin: 15px 30px;
font-size: 22px;
}
.stats img{
  width:300px;
  height:300px;
  margin-left:60px;
  margin-top:120px;
}
.stats .img3{
  margin-top:190px;
}
.stats .tick{
  margin-right:5px;
}
.contact{
  display: flex;
  flex-direction: column;
  padding:30px 20px;
}
.contact .touch{
  text-align: center;
  font-size: 35px;
  color: #008080;
  text-transform: uppercase;
  margin:20px 0;
}
.contact-form{
  margin:30px 100px;
  /* border:1px solid #ccc; */
  display: flex;
  width: 60%;
  height:500px;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.25);
  margin-left:20%;
}

.contact-form .left-side{
  padding:30px;
  padding-top:0px;
  display: flex;
  flex-direction: column;
  gap:10px;
  justify-content: space-around;
  background-color: #008080;
  color:#fff;
  border-right: 1px solid #ddd;
  width:50%;
}


.contact-form .inside-form{
  display: flex;
  flex-direction: column;
  justify-content: center ;
  align-items: center;
 width: 100%;
}

.contact-form .left-side h2{
  font-size:26px;
  text-transform: uppercase;
  font-weight: 600;
  text-align: center;
  margin-bottom:30px;
}

.contact-form .left-side .icons{
  display: flex;
  margin-left:20px;

}

.contact-form .left-side .icons i{
  margin-right:20px;
  color: #008080;
  background-color:#e8f2f9;
  width:50px;
  height:50px;
  font-size: 20px;
  padding:15px;
  border-radius: 50%;
  transition: all 0.3s ease;
}
.contact-form .left-side .icons i:hover{
  transform: scale(1.06);
}
.contact-form .left-side .box{
  display: flex;
  margin-bottom:40px;
  margin-left:20px;
}
.contact-form .left-side .lastbox{
  margin-bottom:0px;
}
.contact-form .left-side .box i{
  font-size:20px;
  margin-right: 10px;
}
.contact-form .left-side .box p {
  font-size:20px;
}
.contact-form .left-side .box p span{
  font-weight: bold;
}
.contact-form .right-side{
  padding:30px 0;
  padding-top:50px;
 width:60%;
}

.contact-form .right-side input,.right-side textarea{
  display: block;
 padding:0 20px;
  width:70%;
  height:55px;
  border:1px solid #bbb;
  margin-bottom:20px;
  border-radius: 5px;
  font-size: 18px;
}

.contact-form .right-side .message{
  height:120px;
  background-color: #fff;
}
.contact-form .right-side button{
  background-color: #008080;
  color:#fff;
  padding:18px 38px;
  border-radius: 4px;
  margin-left:200px;
  border:1px solid transparent;
  font-size: 18px;
}
.contact-form .right-side button:hover{
  color: #008080;
  border:1px solid #008080;
  background-color:#fff;
  cursor: pointer;
}
.contact-form .right-side h2{
  text-align: center;
  margin-bottom:30px;
}

.counter-div{
    display: flex;
    justify-content: center;
    padding:60px 30px;
    padding-bottom: 80px;
    overflow-x: hidden;

}

.counter-div .learn{
  background-color: #008080;
  color:#fff;
  font-size: 20px;
  padding:22px 40px;
  display: inline-block;
  margin-top:40px;
  border-radius: 5px;
}
.counter-div .learn:hover{
 color: #008080;
 background-color:#fff;
  border:1px solid #008080;
}
.counter-div .firstdiv{
  width:50%;
}
.counter-div .firstdiv h2{
  text-align: center;
  font-size: 45px;
  color: #008080;
  text-transform: uppercase;
  margin:10px 0;
  margin-bottom: 40px;
}
.counter-div .firstdiv p{
  font-size: 22px;
  line-height: 1.6;
  text-align: justify;
}

.counter-div .seconddiv{
  width:40%;
  margin-left:40px;
  margin-top:70px;
}
.counter-div .seconddivv{
  display: flex;
  gap:0;
  margin-left:20px;
}
.counter-div .seconddivv .innercounter{
width:310px;
margin:0 20px;
}
.counter-div .innercounter{
    /* width:450px; */
    height:200px;
    background-color: #e1f3f3;
    color:#000;
    border:1px solid #ddd;
    margin:40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 3px;
}
.innercounter:hover{
background-color: #008080;
color:#fff;
cursor: pointer;
}
/* .firstcount{
  width:590px;
} */
.innercounter h1,.innercounter .counter{
    font-size:30px;
}
.innercounter .counter{
margin-left:40px;
}
.innercounter h1 span{
    font-size:20px;
    text-transform: uppercase;
}









@media only screen and (max-width: 1700px) {
  
  .contact{
    margin-left:-80px;
  }
}




@media only screen and (max-width: 1600px) {
.seconddiv h1 span{
  font-size: 17px;
}
.review{
  margin:20px;
 }

 
 .checkinfo{
  width:95% !important;
 }
 .checkinfo h4{
  font-size: 18px !important;
 }
 .checkbtn{
width:300px;
padding:22px 15px !important;
}
  .banner .left-side h2{
    font-size:40px;
  }
  .banner .left-side p{
    font-size:24px;
  }
 
  .contact .left-side{
    padding:30px 10px;
  }
 
  .contact button{
    margin-left:180px !important;
  }
  
}
@media only screen and (max-width: 1420px) {
  
   .checkinfo{
    margin-left:40px;
   }
   .counter-div .seconddiv{
    width:600px;
   }
   .checkinfo img{
    width:250px;
   }
  .seconddiv h1 span{
    font-size: 15px;
  }
  .banner .left-side h2{
    font-size:40px;
  }
  .banner .left-side p{
    font-size:20px;
  }
  .banner .left-side .bannerp{
    width:550px;
  }
  .banner .left-side ul li{
    font-size:20px;
  }
  
  .stats .img3{
margin-top:160px;
  }
 
}


@media only screen and (max-width: 1350px) {
 
  .contact-form{
    margin-left:25%;
  }
  .contact .left-side h2{
    font-size: 24px;
  }
  .contact .left-side p
{  
  line-height: 1.3;
    font-size: 19px !important;
  }
  .contact .left-side p span{
    font-size: 18px !important;

  }
  .contact .left-side{
    padding-left:0;
  }
  
  .contact .icons i{
    margin:0 5px !important;
font-size: 15px !important;
width:40px !important;
height:40px !important;
  }
  .contact button{
    margin-left:120px !important;
  }
  .info img{
    width:400px !important;
    margin-left: 200px;
  }
  .info .left-side h2{
    font-size:33px;
  }
  .info .left-side p{
    font-size:20px;
  }
   .banner .left-side h2{
     font-size:28px;
   }
   .banner .left-side .bannerp{
     width:450px;
   }
   
   .stats .img3{
    margin-right:30px;
   }
 }

@media only screen and (max-width: 1250px) {
 
   .symptom .left-side p,
   .symptom .left-side p.last{
   font-size: 20px;
   }
   .symptom .left-side h2{
    font-size: 30px;
   }
   .symptom .checkinfo img{
    display: none;
   }
   
  .stats .first,
   .stats .second,
   .stats .third
   
   {
    width:320px;
    height:640px !important;
   }
.stats img{
  margin-top:70px;
  width:200px;
  margin-left:50px !important;
}
.stats h2{
  font-size:25px !important;
}
.stats p{
  font-size:20px !important;
}
.stats .img3{
  margin-top:110px;
}
  .firstdiv p{
    font-size:20px !important;
  }
  .seconddiv{
    width:50% !important;
  }
  .banner .left-side h2{
    font-size:30px;
  }
  .banner .left-side .bannerp{
    width:450px;
  }
 
   .patient h2{
    font-size: 28px !important;
   }
   .patient p{
    font-size: 20px !important;
   }
   .patient img{
    width:400px;
    margin-left:-100px;
   }
  
  .info img{
    margin-left: 100px;
    width:380px !important;
  }
  .info .left-side h2{
    font-size: 28px;
  }
  .info .left-side p{
    font-size: 18px;
  }
  .info .left-side span{
    font-size: 26px;
  }
 
}




@media only screen and (max-width: 1150px) {
  
  .contact .contact-form{
    margin-left:15%;
  }
  .banner .left-side h2{
    font-size:30px;
  }
  .banner .left-side p{
    font-size:18px;
  }
  .banner .left-side ul li{
    font-size:18px;
  }
  
  .stats .first,
   .stats .second,
   .stats .third
   
   {
    height:580px !important;
   }
   .stats img{
    margin-top:50px;
    height:260px !important;
   }
   .stats .img3{
    margin-top: 90px !important;
   }
   .stats p{
    font-size: 18px !important;
   }
}
@media only screen and (max-width: 1080px) {
 
  
  .banner .left-side p{
    font-size:22px;
  }
  .banner .left-side ul li{
    font-size:22px;
  } 
  .banner{
    display: flex;
    flex-direction: column;
    margin-top:20px;
    padding-bottom:200px;
  }
  .banner .left-side {
    width:900px;
    margin-bottom:20px;
  }
  .banner .left-side .bannerp{
    width:700px;
  }
  .banner .left-side h2{
    font-size: 35px;
  }
  .banner .right-side img {
    width:670px;
    height:380px;
    margin-left:-100px;
  }
.counter-div{
  display: flex;
  flex-direction: column;
}

.firstdiv{
  width:100% !important;
}
.seconddiv{
  width:100% !important;
  margin-left:120px !important;
}
.firstcount{
  width:66% !important;
}
.seconddivv{
  width:70% !important;
}

 .patient h2{
  font-size: 25px !important;
 }
 .patient p{
  font-size: 18px !important;
 }
 .patient img{
  width:370px;
  margin-left:-30px;
 }
 .stats img{
  margin-top:50px;
  height:230px !important;
 }



}

@media only screen and (max-width: 1010px) {
  .info{
    padding-left: 0;
  }
  .symptom{
    flex-direction: column;
   }
   .symptom .left-side{
    width:100%;
   }
   .symptom .checkinfo{
    width: 700px !important;
   }
   .symptom .chose{
    display: flex !important;
    gap:50px;
   }
   .symptom .genderdiv{
    margin-top:-50px;
   }
   .symptom .gend{
    display: flex;
    gap:40px;
   }
  .contact .contact-form{
    margin-left:10%;
  }
  .contact button{
    margin-left:60px !important;
  }
  .stats{
    flex-wrap: wrap;
    gap:20px;
   }
   .stats .first,
    .stats .second,
    .stats .third
    
    { height:540px !important;
    width:400px;
    
   }
   .stats img{
    margin-top:30px;
   }
}
@media only screen and (max-width: 950px) {
  .checkinfo{
    margin-left:-10px;
   }
  .seconddiv{
    width:100% !important;
    margin-left:70px !important;
  }
  .firstcount{
    width:75% !important;
  }
  .seconddivv{
    width:80% !important;
  }
  .banner .left-side {   
    margin-left:120px;
  }
  .banner .left-side .bannerp{
    width:700px;
  }
  
  .banner .right-side img {
    width:500px;
    height:370px;
    margin-left:-100px;
  }
 
  .info .left-side h2{
    font-size: 24px;
  }
  .info .left-side p{
    font-size: 16px;
  }
  .info img{
    width:300px !important;
    height: 500px !important;
  }
  
}

@media only screen and (max-width: 920px) {
 
  .seconddiv{
    width:100% !important;
    margin-left:50px !important;
  }
  .contact-form{
    height: 950px;
    flex-direction: column;
    width:80%;
    margin-left: 15% !important;
  }
  .contact-form .left-side{
    width: 100%;
  }
  .checkinfo{
   margin-left:-40px;
  }
  .contact-form .inside-form input{
    width: 550px;
    margin-left:250px;
  }
  .contact-form .left-side .icons {
    padding-left:40px;
  }
  .contact-form button {
    margin-left:240px !important;
  }
  .contact-form .left-side .icons i{
   width:50px !important;
   height:50px !important;
   margin:0 10px !important;
   font-size: 20px !important;

  }
  .contact-form .left-side .contactdetail{
    padding-left:50px;
    padding-bottom:50px;
  }
.stats div{
  height:300px !important;
}
   .stats .first,
   .stats .second,
   .stats .third
   
   {
    display: flex;
    width:100% !important;
    height:300px !important;
   }
   .stats .img3{
    margin-top: 0 !important;
    margin-left: 160px !important;
   }
   
}

@media only screen and (max-width: 830px) {
  .checkinfo{
    margin-left:-100px;
   }
   
   
   .choosediv{
    gap:0 !important;
   }
  .seconddiv{
    margin-left:10px !important;
  }
  .firstcount{
    width:90% !important;
  }
  .seconddivv{
    width:95% !important;
  }
  .contact .inside-form input{
    width:480px;
    margin-left:200px;
  }
  .contact button{
    margin-left:180px !important;
  }
  .info{
   padding-left:50px;
    flex-direction: column;
    padding-top:50px ;
    height:1000px;
  }
  .info .left-side{
    width:90%;
  }
  .info img{
    width:480px !important;
    height:440px !important;
    margin-left:20px;
    margin-top:20px;
  }
  .info .left-side h2{
    font-size: 30px;
  }
  .info .left-side p{
    font-size: 20px;
  }
  .info .left-side span{
    font-size: 28px;
  }
  .patient{
    flex-direction: column;
   }
   .patient img{
    width:400px;
    height:400px;
   }
   .patient .right-side{
    width:85%
   }
  .banner .left-side {   
    margin-left:220px;
  }
  .banner .left-side .bannerp{
    width:600px;
  }
  
  .banner .right-side img {
    width:550px;
    height:340px;
    margin-left:-160px;
  }
  .seconddiv{
    width:90% !important;
  }
  .stats .img3{
    margin-top: 0 !important;
    margin-left: 80px !important;
   }
}



@media only screen and (max-width: 720px) {
  
  .contact .inside-form input{
    width:430px;
    margin-left:200px;
  }
  .contact .contactdetail{
    padding-left:20px !important;
  }
  .contact button{
    margin-left:150px !important;
  }
  .stats .img3{
    margin-top: 0 !important;
    margin-left: 50px !important;
   }
 
   .banner .left-side {   
     margin-left:300px;
   }
   .banner .left-side .bannerp{
     width:600px;
   }
   
   .banner .right-side img {
     width:550px;
     height:340px;
     margin-left:-160px;
   }
 }


 .userprofile .profile-div{
  width:30% !important;
 }
 .profile-div input{
  padding-left:10px;
 }
 
.slide{
  width: 90%;
  padding:0 200px;
  padding-left:300px;
  margin:60px 0;
}
.dctr-icon{
  background-color: #fff;
  border-radius: 50%;
  height:80px;
  width:80px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 28px;
  color:#008080;
  margin-top: 15px;
}
.head {
  margin-bottom:40px;
  font-size:35px;
  text-align: center;
  line-height: 1.3;
  font-weight: 800;
  text-transform: uppercase;
  color:#008080;
}



.service {
  background-color: #aaefef;
  padding: 20px;
  display: flex !important;
  flex-direction: column;
  gap:40px;
  align-items: center;
  border-radius: 10px;
  text-align: center;
  width:200px !important;
  height:200px;
  transition: background-color 0.3s ease;
    margin-bottom:30px;

}
.service p{
  font-weight: 500;
  font-size: 18px;
  color: #000;
}

.service:hover {
  background-color: #87e2e2;
}



.service.active {
  background-color: #008080;
  color: #fff;
}
.service.active .ds{
  color: #fff;
}

.slick-dots li button {
  transform: scale(2); /* Increase the size of the dots */
}