       .login-container{
            background-color: #f1f1f1;
            display: flex;
            justify-content: center;
            padding:40px 0;
            min-height: 100vh;
        }
        .login-form{
            margin-top:100px;
            height:75%;
            width:55%;
            border:1px solid #ddd;
            box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
            background-color: #fff;
            display: flex;
            border-radius:7px;
        }
        .login-form .login-left{
            width:45%;
            padding:40px;
            padding-right:0;
        }
        .login-form .login-left button{
            padding:16px 30px;
            border-radius:7px;
            width: 90%;
            background-color: #496ACE;
            color:#fff;
            font-size: 20px;
            border:none;
            margin:25px 0;
        }
        .login-form .login-left button:hover{
            background-color: #4161c0;
        }
       
        .login-form .login-left a{
            text-decoration: none;
            display: inline-block;
            color:#222;
            margin-right:40px;
        }
        .login-form .login-left a:hover{
            text-decoration: underline;

        }
        .login-form .login-right{
            width:55%;
        }
        .login-form .login-left h2{
            color:#000;
            font-size:30px;
            text-align: center;
            font-weight:900;
            text-transform: uppercase;
            margin:20px 0 40px 0;
        }
        .login-form .login-left .formbox{
            margin-top: 60px;
        }
        .login-form .login-left .box{
            display: flex;
            margin-bottom:40px;
            width:90%;
            border:none;
            padding-bottom:8px;
            border-bottom:1px solid #555;
        }
        .login-form .login-left .box i{
            margin-right:15px;
            font-size:20px;
        }
        .login-form .login-left .lastbox{
            margin-bottom:20px;
        }
        .login-form .login-left p {
            font-size:18px;
            margin-top:10px;
        }
        .login-form .login-left p a{
            color:#4161c0;
        }
        .login-form .login-left input{
            width:100%;
            height:30px;
            border:none;
            background: transparent;
            margin-top:-10px !important;
            outline:none;
            font-size: 18px;
        }
        .login-form .login-left input::placeholder{
            font-size: 18px;
        }
        .login-form .login-right{
            height:100%;
            padding:30px;
        }
        .login-form .login-left .forgot{
            font-size:17px;
        }
        
        
        .login-form .login-right img{
            width:90%;
            height:80%;
        }
        .form-error{
            color:tomato;
            font-size:15px !important;
            }
.mainlogindiv{
min-height: 100vh;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
gap:100px;
background-color: #f1f1f1;
/* background-image: linear-gradient(135deg, #f5f7fa 0%, #c3cfe2 100%); */
}
.mainlogindiv .options{
    display: flex;
justify-content: center;
align-items: center;
gap:50px;
}
.mainlogindiv h2{
    font-size:30px;
}
.mainlogindiv .options div{
    border-radius: 3px;
    height:300px;
    width:400px;
    display: flex;
justify-content: center;
align-items: center;
font-size: 30px;
color:#000 !important; 
cursor: pointer;
font-weight: bold;
background-color: #fff !important;
border:1px solid #088088; /* Change to the text color you desire */
}
.mainlogindiv .options .selected {
    background-color: #088088 !important;
    color: #fff !important;
}
.userlog, .doctorlog, .adminlog {
    cursor: pointer;
    padding: 10px;
    margin: 5px;
  }
  
 
 
  .mainlogindiv .btns button{
    background-color: #088088;
    color:#fff;
    border:2px solid #fff;
    font-size: 20px;
    border:1px solid transparent;
    padding:15px 30px;
    border-radius: 2px;
}
.mainlogindiv .btns button:hover{
      border:1px solid #088088;
      color:#000;
      background-color: transparent;
    cursor: pointer;
  }
  .btns {
    display: flex;
    gap: 10px;
    justify-content: center;
    margin-top: 20px;
}

.btns.hidden {
    visibility: hidden;
}
  @media only screen and (max-width: 1600px) {
    
    .login-right img{
margin-top:30px ;
    }
   
    .login-form .login-left{
        width:55%;
    }
  }
  @media only screen and (max-width: 1460px) {
    .login-right img{
        margin-top: 40px;
    }
    .login-form{
        width:65%;
    }
  }
 
  @media only screen and (max-width: 1210px) {
    
   
    .login-form{
        width:75%;
    }
  }
  @media only screen and (max-width: 1070px) {
    
    .login-container{
        justify-content: start;
        padding-left:50px;
    }
    .login-form{
        width:95%;
    }
    
  }

  @media only screen and (max-width: 970px) {
   
    .mainlogindiv .options div{
        height:270px;
        width:320px;
    }
   
  }
  @media only screen and (max-width: 880px) {
    
    .login-container{
        padding-left:20px;
    }
    .login-form .login-left{
        padding-left:20px;
    }
}
@media only screen and (max-width: 820px) {
    .login-right {
        padding-top: 30px !important;
    }
   
    .mainlogindiv .options div{
        height:250px;
        width:280px;
    }
    
    .login-right img{
        width:90% !important;
        height:80% !important;
        margin-top:80px !important;
    }
    .login-left{
        width:60% !important;
    }
    .login-left p{
        font-size:16.8px !important;
    }
  }

  @media only screen and (max-width: 750px) {
   
    .login-form{
        flex-direction: column;
        padding-top:30px;
    }
   
    .login-form .login-left .formbox{
        margin-top: 20px !important;
    }
    .login-left{
        width:100% !important;
        padding:0px 30px !important;
        padding-left: 40px !important;
    }
    .login-right{
        width:100% !important;
    }
    .login-form .login-right img{
display: none;
  }
  .login-form .login-left .box{
margin-bottom: 50px;
  }
  .login-form button{
    margin:30px 0 !important;
    margin-bottom:20px !important;
  }
}