       .login-container{
            background-color: #f1f1f1;
            display: flex;
            justify-content: center;
            padding:70px 0;
            height: 100vh;
        }
        .login-form{
            margin-top:100px;
            height:75%;
            width:55%;
            border:1px solid #ddd;
            box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
            background-color: #fff;
            display: flex;
            border-radius:7px;
        }
        .login-form .login-left{
            width:45%;
            padding:40px;
            padding-right:0;
        }
        .login-form .login-left button{
            padding:16px 30px;
            border-radius:7px;
            width: 90%;
            background-color: #496ACE;
            color:#fff;
            font-size: 20px;
            border:none;
            margin:25px 0;
        }
        .login-form .login-left button:hover{
            background-color: #4161c0;
        }
       
        .login-form .login-left a{
            text-decoration: none;
            display: inline-block;
            color:#222;
            margin-right:40px;
        }
        .login-form .login-left a:hover{
            text-decoration: underline;

        }
        .login-form .login-right{
            width:55%;
        }
        .login-form .login-left h2{
            color:#000;
            font-size:30px;
            text-align: center;
            font-weight:900;
            text-transform: uppercase;
            margin:20px 0 40px 0;
        }
        .login-form .login-left .formbox{
            margin-top: 60px;
        }
        .login-form .login-left .box{
            display: flex;
            margin-bottom:40px;
            width:90%;
            border:none;
            padding-bottom:8px;
            border-bottom:1px solid #555;
        }
        .login-form .login-left .box i{
            margin-right:15px;
            font-size:20px;
        }
        .login-form .login-left .lastbox{
            margin-bottom:20px;
        }
        .login-form .login-left p {
            font-size:18px;
            margin-top:10px;
        }
        .login-form .login-left p a{
            color:#4161c0;
        }
        .login-form .login-left input{
            width:100%;
            height:30px;
            border:none;
            background: transparent;
            outline:none;
            font-size: 18px;
        }
        .login-form .login-left input::placeholder{
            font-size: 18px;
        }
        .login-form .login-right{
            height:100%;
            padding:30px;
        }
        .login-form .login-left .forgot{
            font-size:17px;
        }
        
        
        .login-form .login-right img{
            width:90%;
            height:80%;
            margin-top: 30px;
        }
        .form-error{
            color:tomato;
            font-size:15px !important;
            }






















           