.header {
    overflow: hidden;
    background-color: #e8f2f9;
    padding: 10px 20px;
    display: flex;
    height:100px;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    width: 100%;
    z-index: 1000;
    top:0;
    border-bottom:1px solid #ccc;
  }
  .header img{
    height:70px;
    width:100px;
  }
  .header .logo{
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .header .logo p{
    font-weight: 700;
    font-size: 26px;
    color:#008080;
  }

  .header a {
    color: black;
    padding:  18px 25px;
    margin-left:15px;
    text-decoration: none;
    font-size: 21px;
    border-radius: 4px;
  }
  
 
  
  .header a:hover {
    background-color: #008080;
    color: #fff;
  }
  
  .header a.active {
    background-color: #008080;
    color: white;
  }
  .header .ham{
    display: none;
    font-size: 30px;
  }
 
  .header .hamlinks{
    position: absolute;
    right:10%;
    background-color: yellow;
    top:50%;
    height:400px;
    display: flex;
    flex-direction: column;
    z-index: 99999999;
  }
  @media only screen and (max-width: 1070px) {

  .header{
    padding-left:0px;
    justify-content:start;
    gap:30px;
  }
  .header img{
    height:60px;
    width:80px;
  }
  .header .logo p{
    font-size: 22px;
  }
  .header a {
    padding:  15px 18px;
    margin-left:5px;
    font-size: 20px;
  }
    }
    @media only screen and (max-width: 880px) {
.header{
  /* background-color: yellow; */
  justify-content: space-between;
}
.header a{
display: none ;
}
.header .ham{
  display: block;
}
    }


   
    