.header {
    overflow: hidden;
    background-color: #e8f2f9;
    padding: 10px 20px;
    display: flex;
    height:100px;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    width: 100%;
    z-index: 1000;
    top:0;
    border-bottom:1px solid #ccc;
  }
  .header img{
    height:70px;
    width:100px;
  }
  .header .logo{
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .header .logo p{
    font-weight: 700;
    font-size: 26px;
    color:#008080
  }
 .header .searchbar{
    width:600px;
    padding:0px 20px;
    padding-top:5px;
    margin:0px 50px;
    height:60px;
    border:1px solid #eee;
    border-radius: 30px;
    font-size: 20px;
 }
 
  .header a {
    color: black;
    padding:  20px 25px;
    margin-left:15px;
    text-decoration: none;
    font-size: 22px;
    border-radius: 4px;
  }
  
 
  
  .header a:hover {
    background-color: #008080;
    color: #fff;
  }
  
  .header a.active {
    background-color: #008080;
    color: white;
  }
  
 
  
  