/* .contact{
    margin-top:120px;
    display: flex;
    padding:20px;
}
.contact-form{
    margin:30px 100px;
    border:1px solid #ccc;
    display: flex;
    width: 85%;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.25);
}
.contact-form .first{
    width:50%;
}
.contact-form .left-side{
    padding:30px;
    display: flex;
    gap:10px;
    justify-content: space-around;
    background-color: #003333;
    color:#fff;
}
.contact-form .inside-form{
    display: flex;
    justify-content: center ;
    align-items: center;
    margin-left:30px;
    margin-left: 100px;
}
.contact-form .inside-form div{
    width:50%;
}
.contact-form .left-side h2,.right-side h2{
    font-size:20px;
    text-transform: uppercase;
    font-weight: 600;
    margin-bottom:30px;
}

.contact-form .left-side .icons{
    display: flex;
    flex-direction: column;
    gap:10px;
    margin-top: -10px;
}
.contact-form .left-side .icons p{
width:150px;
color:#fff;
height:45px;
}
.contact-form .left-side .icons i{
    margin-right:10px;
    background-color: #fff;
    color:#003333;
    width:45px;
    height:45px;
    font-size: 20px;
    padding:12px 14px ;
    border-radius: 50%;
    transition: all 0.3s ease;
}
.contact-form .left-side .icons i:hover{
    transform: scale(1.06);
}
.contact-form .left-side .box{
    display: flex;
    margin-bottom:40px;
}
.contact-form .left-side .lastbox{
    margin-bottom:0px;
}
.contact-form .left-side .box i{
    font-size:20px;
    margin-right: 15px;
}
.contact-form .left-side .box p {
    font-size:17px;
}
.contact-form .left-side .box p span{
    font-weight: bold;
}
.right-side{
    padding:30px 0;
   
}

.right-side input,.right-side textarea{
    display: block;
    border:none;
    outline:none;
    width:80%;
    padding-bottom:4px;
    border-bottom:1px solid #bbb;
    margin-bottom:40px;
}

.right-side textarea{
    border:1px solid #bbb;
    margin-top:18px;
    padding-top:15px;
    padding-left:10px;
    height:140px;
    resize: none;
}
.right-side button{
    background-color: #003333;
    color:#fff;
    padding:18px 28px;
    border-radius: 4px;
    margin-left:270px;
    font-size: 16px;
}
.right-side h2{
    text-align: center;
} */
