.contact{
    display: flex;
    margin:40px 0;
    justify-content: center;
    align-items: center;
}
.contact-form{
    border:1px solid #ccc;
    display: flex;
    height:420px;
    width:50%;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.25);

}
.left-side{
    padding:30px;
    width:50%;
    background-color: #003333;
    color:#fff;
}

.left-side h2,.right-side h2{
    font-size:20px;
    text-transform: uppercase;
    font-weight: 600;
    margin-bottom:30px;
}
.left-side .follow{
    margin-top:50px;
}
.left-side .icons{
    margin-top:10px;
}
.left-side .icons i{
    margin-right:10px;
    background-color: #fff;
    color:#003333;
    width:50px;
    height:50px;
    font-size: 20px;
    padding:13px 16px;
    border-radius: 50%;
    transition: all 0.3s ease;
}
.left-side .icons i:hover{
    transform: scale(1.06);
}
.left-side .box{
    display: flex;
    margin-bottom:30px;
}
.left-side .box i{
    font-size:20px;
    margin-right: 15px;
}
.left-side .box p {
    font-size:17px;
}
.left-side .box p span{
    font-weight: bold;
}
.right-side{
    /* background-color: red; */
    width:50%;
    padding:30px;
}
.right-side input,.right-side textarea{
    display: block;
    border:none;
    outline:none;
    width:80%;
    padding-bottom:4px;
    border-bottom:2px solid #bbb;
    margin-bottom:20px;
}
.right-side textarea{
    border:2px solid #bbb;
    padding-top:15px;
    padding-left:15px;
    height:120px;
}
.right-side button{
    background-color: #003333;
    color:#fff;
    padding:15px 23px;
    border-radius: 4px;
}