  .partners{
    margin:70px 0;
  }
  .partners h2{
    text-align: center;
    text-transform: uppercase;
    font-size: 1.9rem;
  }
  .logos{
    margin:30px;
    overflow: hidden;
    padding:20px 0;
    background-color: #fff;
    white-space: nowrap;
    position: relative;
    border:1px solid #eee;
    border-radius: 8px;
  }
  .logos::before,
  .logos::after{
    position: absolute;
    top:0;
    width:250px;
    height:100%;
    content:"";
    z-index:2;
  }
  .logos::before{
      left:0;
    background:linear-gradient(to left,rgba(255,255,255,0),#fff);
  }
  .logos::after{
      right:0;
    background:linear-gradient(to right,rgba(255,255,255,0),#fff);
  }
  
  .logos:hover .logos-slide{
    animation-play-state: paused;
  }
  .logos-slide{
    display: inline-block;
    animation: 30s slide infinite linear;
  }
  @keyframes slide{
    from{
        transform: translateX(0);
    }
    to{
        transform: translateX(-100%);
    }
  }
  .logos-slide img{
      margin:0 40px;
    height:100px;
  
  }